@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
  
  #title-main {
    /* background-color: #ff4c68; */
    background-color:#00A19D;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
  }
  
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
  
  h2 {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1;
  }
  
  .title-image {
    width: 60%;
    border-style:double;
    border-radius: 100%;
    position:relative;
    bottom: 15%;
    left: 25%;
    border-color: #79B4B7;
  }
  
  @media (max-width: 991px) {
    .title-image {
      position: static;
      transform: rotate(0);
      width: 60%;
    }
    #title {
      text-align: center;
    }
  }
  
  .container-fluid {
    padding: 3% 15% 2%;
  }
  
  .download {
    margin: 5% 2% 5% 0;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.9rem;
    font-weight: bold;
  }
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
  }
  
  h3 {
    font-family: "Poppins";
    /* font-size: 1.5rem; */
  }
  
  p {
    color: #8f8f8f;
  }
  .carousel-control-prev-icon{
    background-color: #00A19D;
  }
  .carousel-control-next-icon{
    background-color: #00A19D;
  }
  .feature-img {
    margin-bottom: 1rem;
  }
  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
  }
  
  .featur-box {
    text-align: center;
    padding: 5%;
  }
  
  #testimonials {
    background-color: #fff;
    text-align: center;
    color: black;
  }
  
  .testimonial-image {
      width: 80%;
    margin: 20px;
  }
  
  .logo-comp {
    width: 15%;
    padding: 5px 10px;
  }
  
  .carousel-item {
    padding: 5% 15%;
  }
  
  #press {
    text-align: center;
    padding-bottom: 5%;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .apt {
    padding: 3% 2%;
  }
  
  #pricing {
    padding: 100px;
  }
  
  #cta {
    padding: 7% 15% 4%;
    color: #fff;
    text-align: center;
  }
  
  .cta-font {
    font-size: 2.5rem;
  }



  .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* skills section styling */
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.skills{
  background-color: #00A19D;
  padding-top: 2%;
}
.skills .skills-content .column{
  margin-left: 4%;
    width: calc(46% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(63, 61, 61);
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 70%;
}
.skills-content .right .js::before{
    width: 60%;
}
.skills-content .right .Bootstrap::before{
    width: 80%;
}
.skills-content .right .jquery::before{
    width: 60%;

}


/*Interests*/
.int{
    display: inline-block;
    margin: 4%;
    border-radius: 15px;
    color: #fff;
}
#Interests{
  background-color: #00A19D;
}


/* contact section styling */
.contact{
  background-color: #fff;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

/* about section styling */
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  background: none;
}
/* footer section styling */
footer{
    background: #00A19D;
    padding: 15px 23px;
    color: black;
    text-align: center;
}
footer span a{
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/*Animation*/

.animate1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} 

.top-txt {
  animation-duration: 3s;
  animation-name: txt;
}

@keyframes txt {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
} 

.navbar {
  animation-duration: 3s;
  animation-name: nav;
}

@keyframes nav {
  from {
    margin-top: 10%;
  }

  to {
    margin-left: 0%;
  }
} 

.title-image {
  animation-duration: 3s;
  animation-name: img;
}

@keyframes img {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0%;
  }
} 
